**/node_modules
**/dist
**/target
**/.idea
**/.vscode
**/*.log
**/logs
**/.DS_Store
**/*.local
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/*.iml
**/*.ipr
**/*.iws
**/*.swp
**/*.swo
**/*~
**/*.class
**/coverage
frontend/.npmrc-tmp
README.md
deploy.sh
.env
.env.*
!.env.example
